
    users_group_add_list:
{% for group in add_user_groups_list -%}
      - name: {{ group.name }}
        groups: [ "sudo" ]
{% endfor -%}

    users_add_list:
{% for user in add_users_list -%}
      - name: {{ user.name }}
        unlimited_superuser: true
        ssh_key: {{ ssh_key }}
{% endfor -%}
